.swipeButtons
{
    position: fixed;
    bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.swipeButtons__container
{
    padding: 55px 10px;
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root
{
    background: #fff;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.swipeButtons__repeat,
.swipeButtons__left,
.swipeButtons__star,
.swipeButtons__right,
.swipeButtons__lightning
{
    padding: 15px !important;
}
.swipeButtons__repeat
{
    color: #f5b748 !important;
}
.swipeButtons__left
{
    color: #ec5e6f !important;
}
.swipeButtons__star
{
    color: #62b4f9 !important;
}
.swipeButtons__right
{
    color: #76e2b3 !important;
}
.swipeButtons__lightning
{
    color: #915dd1 !important;
}
