.tinderCards__cardContainer
{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.card
{
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: calc(100vh - 300px);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.card > .shadow
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 600px;
    max-width: 85vw;
    height: 10vh;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(99,18,48,1) 0%, rgba(0,0,0,0) 100%);
}
.card > .bio
{
    position: absolute;
    bottom: 10px;
    color: #fff;
}

.swipe
{
    position: absolute;
    border-radius: 20px;
}

.status
{
    position: absolute;
    padding: 1% 3%;
    
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000000;
    opacity: 0;
    transition: 0.2s;
}
.nope
{
    color:#ec5e6f;
    border: 5px solid #ec5e6f;
    left: 20px;
}
.like
{
    color:#76e2b3;
    border: 5px solid #76e2b3;
    right: 20px;
}
.superlike
{
    color:#62b4f9;
    border: 5px solid #62b4f9;
    left: 250px;
}